/* buat navbar */
a:hover{
    color: #3f89bc !important;
}
.logo{
    width: 150px;
    height: 150px;
    margin: -70px;
    margin-left: 20px;
    margin-right: 6px;
}
.nav-item{
    margin-left: 30px;
}
.nav-link{
    color: black;
}
.nav-link::after{
    transition: width .3s;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3f89bc;
}
.nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}
.navbar li{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center; 
    text-decoration: none;
    font-size: 17px;
}
/* stop navbar */
a{
    text-decoration: none !important;
    color: black !important;
}
.container{
    display: flex;
}
.kiri{
    width: 70%;
}
.kanan{
    width: 30%;
}
.cover{
    width: 200px;
    height: 200px;
    object-fit: cover;  
}
.game{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
img{
    width: 20px;
    height: 20px;
}
.toko{
    width: 70px;
    height: 70px;
    float: left;
}
.toko{
    float: left;
    margin-right: 30px;
}
.p-2{
    margin-right: 20px;
}
#profil{
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
}
.nama-pro{
    float: right;
    margin: 5px;
}
.box-pro{
    width: 150px;
}
.overflow {
    width: 60px;
    /* margin: 0 0 2em 0; */
    display: -webkit-box;
    -webkit-line-clamp: 1   ;
    -webkit-box-orient: vertical;
    /* white-space: nowrap; */
    overflow: hidden;
}
/* title */
.box-title{
    width: 40rem;
    display: flex;
}
.title{
    margin-left: 10px;
}

/* star */
.score {
    display: block;
    font-size: 13px;
    position: relative;
    overflow: hidden;
}
  
.score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
}
  
.score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }
.score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
}

form>input{
    width: 60px; 
    height: 33px; 
    border-radius: 6px; 
    background: rgb(241, 241, 241); 
    border-top: none; 
    border-left: none; 
    font-size: 25px;"
}
.harga{
    font-size: 30px;
}
.box-harga{
    width: 10rem;
    display: flex;
}
.tengah{
    display: flex;
    flex-wrap: wrap;
}
div>button{
    margin: 7px;
}
.selected{
    color:red;
}

/* dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}
.dropdown-content a:hover {background-color: rgb(243, 243, 243); border-radius: 5px;}
.dropdown:hover .dropdown-content {display: block;}
a>i{
    margin-right: 18px;
}


/* modallll */
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    /* z-index: 99999; */
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: rgb(250, 250, 250);
}
.close {
    background: #fff;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 12px;
    text-align: center;
    /* top: -10px; */
    width: 24px;
    text-decoration: none;
}
.close:hover {
    background: #e4e4e4;
}

i.fa-heart:active{
    color: red;
}